@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pathway+Extreme:ital,wght@1,200&display=swap');




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: all;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.btn{
  @apply bg-primary p-2 text-white  hover:scale-105 transition-all ease-in-out uppercase hover:bg-secondary
}

.slick-dots .slick-active div{
  @apply  bg-secondary rounded-full scale-150 
}

.MuiPaper-root{
  @apply !h-[200px]
}